In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("20230130-105819.csv")

In [15]:
df

,Unnamed: 0,network,image_idx,target_cls,delta,rr,linna_time (seconds),linna_timeout,linna_is_real_cex,linna_cex,linna_result,linna_error
0,0,MNIST_3x100,0,5,0.02,0.2,2.112182,False,NaN,NaN,unsat,False
1,1,MNIST_3x100,0,5,0.05,0.2,0.973948,False,False,"[-0.05, 0.05, 0.05, 0.05, 0.05, 0.05, -0.05, -...",sat,False
2,2,MNIST_3x100,0,5,0.02,0.5,2.073136,False,NaN,NaN,unsat,False
3,3,MNIST_3x100,0,5,0.05,0.5,241.943857,True,NaN,NaN,timeout,False
4,4,MNIST_3x100,0,5,0.02,0.8,2.837930,False,NaN,NaN,unsat,False
...,...,...,...,...,...,...,...,...,...,...,...,...
310,310,MNIST_3x100,51,0,0.02,0.8,2.715394,False,NaN,NaN,unsat,False
311,311,MNIST_3x100,51,0,0.05,0.8,242.069710,True,NaN,NaN,timeout,False
312,312,MNIST_3x100,52,7,0.02,0.2,1.372647,False,NaN,NaN,unsat,False
313,313,MNIST_3x100,52,7,0.05,0.2,168.732733,False,False,"[0.05, 0.05, -0.05, -0.05, -0.05, 0.05, 0.05, ...",sat,False
314,314,MNIST_3x100,52,7,0.02,0.5,2.077428,False,NaN,NaN,unsat,False